%br
%label *Status
%br    
= select_tag "status_id", options_from_collection_for_select( @statuses, "id", "name", @event.status_id), prompt: "Please select"
%br
%br
%label *Comments (drag corner to increase size)
%br
= f.text_area :body
%br
%br